.version.desarrollo_social /* version checker */
{
	color: #0000F0;
	background-color: #1E066E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 911px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -27px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 18px;
	padding-bottom: 13px;
}

#u461
{
	z-index: 78;
	width: 37px;
	left: 110px;
}

#pu77-4
{
	width: 0.01px;
	left: 418px;
	position: relative;
}

#u77-4
{
	z-index: 13;
	width: 324px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 25px;
}

#u493
{
	z-index: 4;
	width: 232px;
	min-height: 100px;
	margin-right: -10000px;
	left: 406px;
}

#u1198-4
{
	z-index: 92;
	width: 189px;
	min-height: 36px;
	background-color: transparent;
	left: 109px;
	margin-top: 23px;
	position: relative;
}

#u1198-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1198
{
	line-height: 29px;
}

#pu2469-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 19px;
	position: relative;
}

#u2469-4
{
	z-index: 131;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u2070
{
	z-index: 97;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2104
{
	z-index: 109;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 511px;
}

#u2471-6
{
	z-index: 139;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 808px;
}

#pu2470-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 24px;
	position: relative;
}

#u2470-4
{
	z-index: 135;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u2076
{
	z-index: 99;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2109
{
	z-index: 111;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 511px;
}

#u2472-4
{
	z-index: 145;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 808px;
}

#u75,#u75-bw
{
	z-index: 3;
	min-height: 555px;
}

#u103-8
{
	z-index: 5;
	width: 241px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 838px;
}

#u81-4
{
	z-index: 17;
	width: 324px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 418px;
}

#u82
{
	z-index: 21;
	width: 71px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 544px;
}

#menuu271
{
	z-index: 23;
	width: 961px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 98px;
}

#u272
{
	width: 60px;
	min-height: 21px;
	margin-right: -10000px;
}

#u273
{
	width: 59px;
	padding-bottom: 2px;
}

#u273:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u273.MuseMenuActive
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u275-4
{
	width: 34px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u273:hover #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u273.MuseMenuActive #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u305
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 62px;
}

#u306
{
	width: 136px;
	padding-bottom: 2px;
}

#u306:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u306.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u308-4
{
	width: 111px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u306:hover #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u306.MuseMenuActive #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u292
{
	width: 156px;
	min-height: 21px;
	margin-right: -10000px;
	left: 201px;
}

#u293
{
	width: 155px;
	padding-bottom: 2px;
}

#u293:hover
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u293.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u295-4
{
	width: 130px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u293:hover #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u293.MuseMenuActive #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u344
{
	width: 118px;
	min-height: 21px;
	margin-right: -10000px;
	left: 359px;
}

#u345
{
	width: 117px;
	padding-bottom: 2px;
}

#u345:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u345.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u347-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u345:hover #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u345.MuseMenuActive #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u1523
{
	width: 123px;
	min-height: 21px;
	margin-right: -10000px;
	left: 479px;
}

#u1526
{
	width: 122px;
	padding-bottom: 2px;
}

#u1526:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u1526.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u1528-4
{
	width: 98px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u1526:hover #u1528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u1526.MuseMenuActive #u1528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u331
{
	width: 126px;
	min-height: 21px;
	margin-right: -10000px;
	left: 604px;
}

#u332
{
	width: 125px;
	padding-bottom: 2px;
}

#u332:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u332.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u334-4
{
	width: 101px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u332:hover #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u332.MuseMenuActive #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u318
{
	width: 74px;
	min-height: 21px;
	margin-right: -10000px;
	left: 732px;
}

#u319
{
	width: 73px;
	padding-bottom: 2px;
}

#u319:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u319.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u321-4
{
	width: 49px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u319:hover #u321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u319.MuseMenuActive #u321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	width: 65px;
	min-height: 21px;
	margin-right: -10000px;
	left: 808px;
}

#u360
{
	width: 64px;
	padding-bottom: 2px;
}

#u360:hover
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u360.MuseMenuActive
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u362-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u360:hover #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u360.MuseMenuActive #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u382
{
	width: 86px;
	min-height: 21px;
	margin-right: -10000px;
	left: 875px;
}

#u385
{
	width: 85px;
	padding-bottom: 2px;
}

#u385:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u385.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u387-4
{
	width: 61px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u385:hover #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u385.MuseMenuActive #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u467
{
	z-index: 80;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 147px;
}

#u473
{
	z-index: 82;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 183px;
}

#u479
{
	z-index: 84;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 220px;
}

#u488
{
	z-index: 86;
	width: 239px;
	height: 67px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 818px;
}

#u1199
{
	z-index: 96;
	width: 197px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 100px;
	border-width: 0px 0px 1px 1px;
}

#pu2473-4
{
	width: 0.01px;
	margin-top: 10px;
}

#u2473-4
{
	z-index: 149;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#u2082
{
	z-index: 101;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2119
{
	z-index: 113;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 511px;
}

#u2475-4
{
	z-index: 157;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 808px;
}

#pu2474-4
{
	width: 0.01px;
	margin-top: 22px;
}

#u2474-4
{
	z-index: 153;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u2088
{
	z-index: 103;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2125
{
	z-index: 115;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 511px;
}

#u2476-4
{
	z-index: 161;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 808px;
}

#pu2478-4
{
	width: 0.01px;
	margin-top: 21px;
}

#u2478-4
{
	z-index: 169;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#u2094
{
	z-index: 105;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2130
{
	z-index: 117;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 511px;
}

#u2477-4
{
	z-index: 165;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 808px;
}

#u2479-4
{
	z-index: 173;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u2099
{
	z-index: 107;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2135
{
	z-index: 119;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 511px;
}

#u2480-4
{
	z-index: 177;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 808px;
}

#pu2479-4,#pu2483-4
{
	width: 0.01px;
	margin-top: 19px;
}

#u2483-4
{
	z-index: 181;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u2155
{
	z-index: 125;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2143
{
	z-index: 121;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 511px;
}

#u2486-4
{
	z-index: 185;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 808px;
}

#pu2487-4
{
	width: 0.01px;
	margin-top: 18px;
}

#u2487-4
{
	z-index: 189;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
}

#u2161
{
	z-index: 127;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u2149
{
	z-index: 123;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 511px;
}

#u2488-4
{
	z-index: 193;
	width: 152px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 808px;
}

#pu2490-4
{
	width: 0.01px;
	margin-top: 17px;
}

#u2490-4
{
	z-index: 197;
	width: 152px;
	min-height: 61px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u2166
{
	z-index: 129;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#pu1138
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -186px;
}

#u1138_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1565-4
{
	z-index: 87;
	width: 964px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 100px;
}

#u1138,#u1138-bw
{
	z-index: 2;
	min-height: 217px;
}

#u2379
{
	z-index: 91;
	width: 965px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 100px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 28px;
}

#page .verticalspacer
{
	clear: both;
}

