.version.medio_ambiente /* version checker */
{
	color: #0000E3;
	background-color: #E85AE9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 911px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -27px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
}

#u75
{
	z-index: 3;
	min-height: 554.95px;
	padding-bottom: 0px;
}

#u75_position_content
{
	margin-bottom: -2px;
	padding-top: 18px;
}

#u461
{
	z-index: 78;
	width: 37px;
	left: 110px;
}

#pu77-4
{
	width: 0.01px;
	left: 418px;
	position: relative;
}

#u77-4
{
	z-index: 13;
	width: 324px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 25px;
}

#u493
{
	z-index: 4;
	width: 232px;
	min-height: 100px;
	margin-right: -10000px;
	left: 406px;
}

#u1904-4
{
	z-index: 92;
	width: 178px;
	min-height: 36px;
	background-color: transparent;
	left: 109px;
	margin-top: 24px;
	position: relative;
}

#u1904-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1904
{
	line-height: 29px;
}

#pu1942-6
{
	width: 0.01px;
	left: 109px;
	margin-top: 26px;
	position: relative;
}

#u1942-6
{
	z-index: 109;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u1906
{
	z-index: 97;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u1912
{
	z-index: 99;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u1943-4
{
	z-index: 115;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 799px;
}

#pu1944-4
{
	width: 0.01px;
	left: 109px;
	margin-top: 32px;
	position: relative;
}

#u1944-4
{
	z-index: 119;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u1918
{
	z-index: 101;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u1924
{
	z-index: 103;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 499px;
}

#u1945-4
{
	z-index: 123;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 799px;
}

#u75-bw
{
	z-index: 3;
	min-height: 554.95px;
}

#u103-8
{
	z-index: 5;
	width: 241px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 838px;
}

#u81-4
{
	z-index: 17;
	width: 324px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 418px;
}

#u82
{
	z-index: 21;
	width: 71px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 544px;
}

#menuu271
{
	z-index: 23;
	width: 961px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 98px;
}

#u272
{
	width: 60px;
	min-height: 21px;
	margin-right: -10000px;
}

#u273
{
	width: 59px;
	padding-bottom: 2px;
}

#u273:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u273.MuseMenuActive
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u275-4
{
	width: 34px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u273:hover #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u273.MuseMenuActive #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u305
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 62px;
}

#u306
{
	width: 136px;
	padding-bottom: 2px;
}

#u306:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u306.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u308-4
{
	width: 111px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u306:hover #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u306.MuseMenuActive #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u292
{
	width: 156px;
	min-height: 21px;
	margin-right: -10000px;
	left: 201px;
}

#u293
{
	width: 155px;
	padding-bottom: 2px;
}

#u293:hover
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u293.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u295-4
{
	width: 130px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u293:hover #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u293.MuseMenuActive #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u344
{
	width: 118px;
	min-height: 21px;
	margin-right: -10000px;
	left: 359px;
}

#u345
{
	width: 117px;
	padding-bottom: 2px;
}

#u345:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u345.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u347-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u345:hover #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u345.MuseMenuActive #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u1523
{
	width: 123px;
	min-height: 21px;
	margin-right: -10000px;
	left: 479px;
}

#u1526
{
	width: 122px;
	padding-bottom: 2px;
}

#u1526:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u1526.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u1528-4
{
	width: 98px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u1526:hover #u1528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u1526.MuseMenuActive #u1528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u331
{
	width: 126px;
	min-height: 21px;
	margin-right: -10000px;
	left: 604px;
}

#u332
{
	width: 125px;
	padding-bottom: 2px;
}

#u332:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u332.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u334-4
{
	width: 101px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u332:hover #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u332.MuseMenuActive #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u318
{
	width: 74px;
	min-height: 21px;
	margin-right: -10000px;
	left: 732px;
}

#u319
{
	width: 73px;
	padding-bottom: 2px;
}

#u319:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u319.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u321-4
{
	width: 49px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u319:hover #u321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u319.MuseMenuActive #u321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	width: 65px;
	min-height: 21px;
	margin-right: -10000px;
	left: 808px;
}

#u360
{
	width: 64px;
	padding-bottom: 2px;
}

#u360:hover
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u360.MuseMenuActive
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u362-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u360:hover #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u360.MuseMenuActive #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u382
{
	width: 86px;
	min-height: 21px;
	margin-right: -10000px;
	left: 875px;
}

#u385
{
	width: 85px;
	padding-bottom: 2px;
}

#u385:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u385.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u387-4
{
	width: 61px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u385:hover #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u385.MuseMenuActive #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u467
{
	z-index: 80;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 147px;
}

#u473
{
	z-index: 82;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 183px;
}

#u479
{
	z-index: 84;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 220px;
}

#u488
{
	z-index: 86;
	width: 239px;
	height: 67px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 818px;
}

#u1905
{
	z-index: 96;
	width: 186px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 100px;
	border-width: 0px 0px 1px 1px;
}

#pu1946-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 38px;
}

#u1946-4
{
	z-index: 127;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
}

#u1930
{
	z-index: 105;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u1936
{
	z-index: 107;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u1947-4
{
	z-index: 131;
	width: 152px;
	min-height: 65px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 789px;
}

#pu1960
{
	width: 0.01px;
	margin-left: 269px;
	margin-top: 17px;
}

#u1960
{
	z-index: 137;
	width: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1948
{
	z-index: 135;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 272px;
}

#u1966
{
	z-index: 139;
	width: 445px;
	height: 4px;
	background-color: #C1272D;
	margin-left: 289px;
	top: -6px;
	margin-bottom: -4px;
	position: relative;
}

#pu1138
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -186px;
}

#u75_align_to_page,#u1138_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1565-4
{
	z-index: 87;
	width: 964px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 100px;
}

#u1138,#u1138-bw
{
	z-index: 2;
	min-height: 217px;
}

#u2379
{
	z-index: 91;
	width: 965px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 100px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 28px;
}

#page .verticalspacer
{
	clear: both;
}

