.version.turismo /* version checker */
{
	color: #000006;
	background-color: #29C4A9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 911px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -27px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
}

#u75
{
	z-index: 3;
	min-height: 554.95px;
	padding-bottom: 0px;
}

#u75_position_content
{
	margin-bottom: -64px;
	padding-top: 18px;
}

#u461
{
	z-index: 78;
	width: 37px;
	left: 110px;
}

#pu77-4
{
	width: 0.01px;
	left: 418px;
	position: relative;
}

#u77-4
{
	z-index: 13;
	width: 324px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 25px;
}

#u493
{
	z-index: 4;
	width: 232px;
	min-height: 100px;
	margin-right: -10000px;
	left: 406px;
}

#u1200-4
{
	z-index: 136;
	width: 90px;
	min-height: 36px;
	background-color: transparent;
	left: 109px;
	margin-top: 20px;
	position: relative;
}

#u1200
{
	line-height: 29px;
}

#u1212-4
{
	z-index: 141;
	width: 322px;
	min-height: 31px;
	background-color: transparent;
	left: 109px;
	margin-top: 11px;
	position: relative;
}

#pu1215-4
{
	width: 0.01px;
	left: 109px;
	margin-top: 8px;
	position: relative;
}

#u1215-4
{
	z-index: 146;
	width: 461px;
	min-height: 358px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#u1300
{
	z-index: 122;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u1243
{
	z-index: 123;
	width: 56px;
	height: 57px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
}

#u1245
{
	z-index: 124;
	width: 56px;
	height: 57px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 403px;
}

#u75-bw
{
	z-index: 3;
	min-height: 554.95px;
}

#u103-8
{
	z-index: 5;
	width: 241px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 838px;
}

#u81-4
{
	z-index: 17;
	width: 324px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 418px;
}

#u82
{
	z-index: 21;
	width: 71px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 544px;
}

#menuu271
{
	z-index: 23;
	width: 961px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 98px;
}

#u272
{
	width: 60px;
	min-height: 21px;
	margin-right: -10000px;
}

#u273
{
	width: 59px;
	padding-bottom: 2px;
}

#u273:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u273.MuseMenuActive
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u275-4
{
	width: 34px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u273:hover #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u273.MuseMenuActive #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u305
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 62px;
}

#u306
{
	width: 136px;
	padding-bottom: 2px;
}

#u306:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u306.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u308-4
{
	width: 111px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u306:hover #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u306.MuseMenuActive #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u292
{
	width: 156px;
	min-height: 21px;
	margin-right: -10000px;
	left: 201px;
}

#u293
{
	width: 155px;
	padding-bottom: 2px;
}

#u293:hover
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u293.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u295-4
{
	width: 130px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u293:hover #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u293.MuseMenuActive #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u344
{
	width: 118px;
	min-height: 21px;
	margin-right: -10000px;
	left: 359px;
}

#u345
{
	width: 117px;
	padding-bottom: 2px;
}

#u345:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u345.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u347-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u345:hover #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u345.MuseMenuActive #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u1523
{
	width: 123px;
	min-height: 21px;
	margin-right: -10000px;
	left: 479px;
}

#u1526
{
	width: 122px;
	padding-bottom: 2px;
}

#u1526:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u1526.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u1528-4
{
	width: 98px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u1526:hover #u1528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u1526.MuseMenuActive #u1528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u331
{
	width: 126px;
	min-height: 21px;
	margin-right: -10000px;
	left: 604px;
}

#u332
{
	width: 125px;
	padding-bottom: 2px;
}

#u332:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u332.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u334-4
{
	width: 101px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u332:hover #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u332.MuseMenuActive #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u318
{
	width: 74px;
	min-height: 21px;
	margin-right: -10000px;
	left: 732px;
}

#u319
{
	width: 73px;
	padding-bottom: 2px;
}

#u319:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u319.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u321-4
{
	width: 49px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u319:hover #u321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u319.MuseMenuActive #u321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	width: 65px;
	min-height: 21px;
	margin-right: -10000px;
	left: 808px;
}

#u360
{
	width: 64px;
	padding-bottom: 2px;
}

#u360:hover
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u360.MuseMenuActive
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u362-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u360:hover #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u360.MuseMenuActive #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u382
{
	width: 86px;
	min-height: 21px;
	margin-right: -10000px;
	left: 875px;
}

#u385
{
	width: 85px;
	padding-bottom: 2px;
}

#u385:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u385.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u387-4
{
	width: 61px;
	min-height: 16px;
	margin-right: -10000px;
	top: 1px;
	left: 12px;
}

#u385:hover #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u385.MuseMenuActive #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u467
{
	z-index: 80;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 147px;
}

#u473
{
	z-index: 82;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 183px;
}

#u479
{
	z-index: 84;
	width: 37px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 220px;
}

#u488
{
	z-index: 86;
	width: 239px;
	height: 67px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 818px;
}

#u1294
{
	z-index: 125;
	width: 407px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 614px;
}

#u1294_clip
{
	overflow: hidden;
	width: 407px;
	height: 291px;
}

#u1294_img
{
	margin-right: -29px;
}

#u1201
{
	z-index: 140;
	width: 98px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 100px;
	border-width: 0px 0px 1px 1px;
}

#u1213
{
	z-index: 145;
	width: 468px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 100px;
	border-width: 0px 0px 1px 1px;
}

#u1246
{
	z-index: 245;
	width: 405px;
	height: 289px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 613px;
}

#pppu1219-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 34px;
}

#u1219-4
{
	z-index: 159;
	width: 315px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1220
{
	z-index: 163;
	width: 183px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#u1221-6
{
	z-index: 164;
	width: 461px;
	min-height: 226px;
	background-color: transparent;
	text-align: justify;
	margin-left: 9px;
	margin-top: 11px;
	position: relative;
}

#u1250
{
	z-index: 132;
	width: 56px;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1251
{
	z-index: 133;
	width: 56px;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 403px;
}

#u1281
{
	z-index: 134;
	width: 408px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 25px;
}

#u1281_clip
{
	overflow: hidden;
	width: 408px;
	height: 204px;
}

#u1281_img
{
	margin-bottom: -14px;
}

#u1252
{
	z-index: 246;
	width: 405px;
	height: 203px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 23px;
}

#pu1222-4
{
	width: 0.01px;
	margin-top: -4px;
}

#u1222-4
{
	z-index: 170;
	width: 460px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1223
{
	z-index: 174;
	width: 317px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#pu1293
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 11px;
}

#u1293
{
	z-index: 127;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 480px;
}

#u1254
{
	z-index: 128;
	width: 56px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
}

#u1255
{
	z-index: 129;
	width: 56px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	left: 403px;
}

#u1287
{
	z-index: 130;
	width: 404px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 506px;
}

#u1224-8
{
	z-index: 175;
	width: 461px;
	min-height: 455px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#u1256
{
	z-index: 247;
	width: 405px;
	height: 373px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 503px;
}

#pppu1226-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 14px;
}

#ppu1219-4,#ppu1226-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 471px;
}

#u1226-4
{
	z-index: 183;
	width: 337px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1227
{
	z-index: 187;
	width: 199px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#u1228-11
{
	z-index: 188;
	width: 461px;
	min-height: 397px;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 6px;
	position: relative;
}

#u1313
{
	z-index: 117;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u1259
{
	z-index: 118;
	width: 56px;
	height: 70px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
}

#u1258
{
	z-index: 119;
	width: 56px;
	height: 70px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 403px;
}

#u1307
{
	z-index: 120;
	width: 408px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 24px;
}

#u1307_clip
{
	overflow: hidden;
	width: 408px;
	height: 355px;
}

#u1307_img
{
	margin-left: -13px;
	margin-right: -52px;
}

#u1260
{
	z-index: 248;
	width: 405px;
	height: 354px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 23px;
}

#pppu1216-4
{
	width: 0.01px;
	margin-top: 16px;
}

#pu1219-4,#pu1226-4,#pu1216-4
{
	width: 0.01px;
}

#u1216-4
{
	z-index: 150;
	width: 292px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1217
{
	z-index: 154;
	width: 221px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#u1218-4
{
	z-index: 155;
	width: 460px;
	min-height: 193px;
	background-color: transparent;
	text-align: justify;
	margin-left: 10px;
	margin-top: 6px;
	position: relative;
}

#u1320
{
	z-index: 102;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 489px;
}

#u1262
{
	z-index: 103;
	width: 56px;
	height: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
}

#u1263
{
	z-index: 104;
	width: 56px;
	height: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 403px;
}

#u1342
{
	z-index: 105;
	width: 408px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 513px;
}

#u1264
{
	z-index: 107;
	width: 405px;
	height: 175px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 512px;
}

#pu1229-4
{
	width: 0.01px;
	margin-left: 480px;
}

#u1229-4
{
	z-index: 199;
	width: 301px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1230
{
	z-index: 203;
	width: 245px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#pppu1354
{
	width: 0.01px;
	margin-top: 3px;
}

#ppu1354
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1354
{
	z-index: 97;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1266
{
	z-index: 98;
	width: 56px;
	height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
}

#u1267
{
	z-index: 99;
	width: 56px;
	height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 403px;
}

#u1348
{
	z-index: 100;
	width: 407px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 25px;
}

#u1268
{
	z-index: 249;
	width: 405px;
	height: 238px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 23px;
}

#pu1232-4
{
	width: 0.01px;
	margin-top: 15px;
}

#u1232-4
{
	z-index: 211;
	width: 347px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1233
{
	z-index: 215;
	width: 301px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#u1231-7
{
	z-index: 204;
	width: 460px;
	min-height: 312px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#ppu1234-7
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 6px;
}

#ppu1216-4,#pu1234-7
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1234-7
{
	z-index: 216;
	width: 461px;
	min-height: 356px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u1228-2,#u1228-4,#u1228-6,#u1228-8,#u1231-2,#u1231-4,#u1234-2,#u1234-4
{
	text-align: justify;
}

#pu1327
{
	width: 0.01px;
	margin-left: 9px;
}

#u1327
{
	z-index: 112;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1274
{
	z-index: 113;
	width: 56px;
	height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
}

#u1275
{
	z-index: 114;
	width: 56px;
	height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 403px;
}

#u1321
{
	z-index: 115;
	width: 407px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 24px;
}

#u1321_clip
{
	overflow: hidden;
	width: 407px;
	height: 241px;
}

#u1321_img
{
	margin-bottom: -31px;
}

#u1276
{
	z-index: 251;
	width: 405px;
	height: 235px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 23px;
}

#pu1240-4
{
	width: 0.01px;
	margin-top: 12px;
}

#u1240-4
{
	z-index: 234;
	width: 328px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1241
{
	z-index: 238;
	width: 162px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#ppu1361
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 479px;
}

#pu1354,#pu1361
{
	width: 0.01px;
	margin-left: 10px;
}

#u1361
{
	z-index: 92;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1271
{
	z-index: 93;
	width: 56px;
	height: 53px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
}

#u1270
{
	z-index: 94;
	width: 56px;
	height: 53px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 403px;
}

#u1355
{
	z-index: 95;
	width: 407px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 24px;
}

#u1355_clip
{
	overflow: hidden;
	width: 407px;
	height: 268px;
}

#u1355_img
{
	margin-top: -18px;
	margin-bottom: -19px;
}

#u1272
{
	z-index: 250;
	width: 405px;
	height: 268px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 23px;
}

#pu1237-4
{
	width: 0.01px;
	margin-top: 27px;
}

#u1237-4
{
	z-index: 223;
	width: 343px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1200-2,#u1212-2,#u1219-2,#u1222-2,#u1226-2,#u1216-2,#u1229-2,#u1232-2,#u1240-2,#u1237-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1212,#u1219,#u1222,#u1226,#u1216,#u1229,#u1232,#u1240,#u1237
{
	line-height: 22px;
}

#u1238
{
	z-index: 227;
	width: 229px;
	height: 30px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#u1239-6
{
	z-index: 228;
	width: 461px;
	min-height: 291px;
	background-color: transparent;
	text-align: justify;
	margin-left: 9px;
	margin-top: 6px;
	position: relative;
}

#pu1278
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 7px;
}

#u1278
{
	z-index: 108;
	width: 56px;
	height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E5DC00;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u1279
{
	z-index: 109;
	width: 56px;
	height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8F1C00;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 884px;
}

#u1328
{
	z-index: 110;
	width: 407px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 506px;
}

#u1242-6
{
	z-index: 239;
	width: 461px;
	min-height: 255px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#u1280
{
	z-index: 252;
	width: 405px;
	height: 235px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 504px;
}

#pu1138
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -185px;
}

#u75_align_to_page,#u1138_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1565-4
{
	z-index: 87;
	width: 964px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 100px;
}

#u1138,#u1138-bw
{
	z-index: 2;
	min-height: 217px;
}

#u2379
{
	z-index: 91;
	width: 965px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 100px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 28px;
}

#page .verticalspacer
{
	clear: both;
}

